:root {
  --cardwidth: 400px;
  --cardheight: 450px;
  --footerheight: 100px;
}

/* Level 0 */
.cardproject {
  margin-bottom: 40px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
  width: var(--cardwidth);
  height: var(--cardheight);
  transition: ease 0.3s;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 80px -10px black;
  overflow: hidden;
}

.cardproject img {
  object-fit: fill;
}

/* Level 1 */
.card-footer {
  /* background-color: royalblue; */
  z-index: 1;
  position: relative;
  width: 100%;
  top: calc(var(--cardheight) - var(--footerheight));
  height: var(--footerheight);
}

.card-blur {
  height: var(--cardheight);
  width: var(--cardwidth);
  background-color: black;
  opacity: 0;
  transition: opacity 0.15s ease-in;
  position: relative;
  top: calc(0px - (var(--footerheight)));
}

.cardproject:hover .card-blur {
  opacity: 0.6;
}

/* Level 2 */
.card-bubble {
  /* background-color: rebeccapurple; */
  height: 60px;
  width: 400px;
  position: absolute;
  bottom: var(--footerheight);
  margin: auto;
  padding-left: 10px;
}
svg#curve {
  fill: var(--darksecondary);
  height: var(--cardheight);
  width: 100%;
  position: absolute;
  top: calc(0px - var(--cardheight) + var(--footerheight));
}

.card-info {
  position: absolute;
  top: 10px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  transform: translateY(250px);
  /* background-color: red; */
  transition: transform 1s cubic-bezier(0.31, 1.21, 0.64, 1.02);
  color: var(--darksecondaryfont);
}
.cardproject:hover .card-info {
  transform: translateY(0px);
}

/* Level 3 */
.card-info h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.bubble {
  background-color: var(--darksecondary);
  color: var(--darksecondaryfont);
  height: 25px;
  width: 25px;
  border-radius: 100%;
  display: inline-block;
  padding: 5px;
  margin-right: 25px;
  transform: translateY(200px);
  transition: transform 1s cubic-bezier(0.46, 1.48, 0.18, 0.81);
}

.cardproject:hover .bubble {
  transform: translateY(0px);
}
