/* 
  ##Device = Laptops, Desktops
  ##Screen = 1025px to higher resolution desktops
*/

@media (min-width: 1025px) {
  .header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header-profile {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
  }

  .header-profile span {
    font-weight: 700;
    font-size: 25px;
    color: var(--darksecondary);
  }

  .header-profile img {
    width: 100px;
    height: auto;
    padding-bottom: 20px;
  }

  .header-index nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40px;
  }

  .header-index nav a {
    text-decoration: none;
    font-size: 20px;
    color: var(--darkfont);
    transition: ease 0.3s;
  }

  .header-index nav a:hover {
    color: var(--darksecondary);
  }

  .header-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 60px;
  }

  .svg-inline--fa {
    color: var(--darkfont);
    font-size: 25px;
    vertical-align: middle;
    line-height: inherit;
    background-color: var(--darkprimary);
    padding: 3px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
}
