/* 
  ##Device = Laptops, Desktops
  ##Screen = 1025px to higher resolution desktops
*/

@media (min-width: 1025px) {
  .skills {
    height: 100vh;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    background-color: rosybrown;
  }

  .skills-left {
    background-color: rebeccapurple;
    width: 30%;
    padding-right: 25px;
  }

  .skills-right {
    background-color: red;
    width: 70%;
    padding-left: 25px;
  }
}
